<%= render 'shared/banner' %>
<div class="container">
  <div class="row">
    <% @wagoners.each do |wagoner| %>
      <div class="col-4 my-5">
        <!-- Element card -->

        <div class="card" style="width: 18rem;">
          <div class="card-image-height">
             <img src="https://res.cloudinary.com/dvb6zudlf/image/upload/v1558537445/benoit_a5txll.png" class="card-img-top" alt="...">
             <!-- <img src="<%#= wagoner.photo %>" class="card-img-top" alt="..."> -->
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= wagoner.github_name %></h5>
            <p class="card-text">
              <%= wagoner.description %>
            </p>
            <%= link_to "voir le detail", wagoner_path(wagoner), class: 'card-link btn btn-primary' %>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>






