
<div class = "container">
<div>
  <%= image_tag("logo.png",
      width: 200, height: 200, crop: :fill) %>

<h2><%= @wagoner.github_name %></h2>
<h2><%= @wagoner.description %></h2>
<h2><%= @wagoner.price %>€ par jour service petit dej inclut</h2>
</div>
</div>
