<div class="container">
  <br>
  <h1> Confirmation</h1>
  <div class="notification-content">
    <p>Félicitations ! vous avez loué <%= @wagoner.github_name %> pour quelques heures </p>

    <%= cl_image_tag("ben_yob4ud.jpg", :opacity=>100, :radius=>5, :width=>150, :crop=>"fit") %>
    </div>

  </div>
</div>
