.card-image-height > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-image-product > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-image-map > img {
  height: 20%;
  width: 100px;
  object-fit: cover;
}
