.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 300px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  padding-bottom: 200px;

}

.text{
  font-style: bold;
  font-size: 50px;
  opacity: 1;
}

.nav-item{
  padding-bottom: 200px;
  color: black;
}
