.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  justify-content: space-between;
}

// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
//   height: 300px;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }


// .text{
//   color: black;
//   font-family: arial;
//   font-style: bold;
//   font-size: 60px;
//   opacity: 1;
// }

// .description{
//   color: black;
//   font-family: arial;
//   font-style: bold;
// }

// .nav-item{
//   padding-bottom: 200px;
//   color: black;
// }
